<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/post_form.css')}}">
</head>
<header>
    <h1>WEB <span>BLOG</span></h1>
    <nav>
        <ul>
            <li><a href="/notes">Home</a></li>
            <li><a href="/notes/new">New Post</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="post-form">

        <h1>Edit your thoughts!</h1>
        <form action="/note/{{note[0]['id']}}/edit" method="POST">
        <div class="txtb">
            <label>Your name/nickname : </label>
                <input type="text" name="nm" value="{{ note[1].author }}" placeholder="Enter Your Name">
        </div>

        <div class="txtb">
            <label>Your Title : </label>
            <input type="text" name="title" value="{{note[1].title}}" placeholder="Enter Your Title">
        </div>

        <div class="txtb">
            <label>Your Text : </label>
            <textarea name="text">{{note[1].text}}</textarea>
        </div>
        <p><input class="btn" type = 'submit' value = 'Post'/></p>
        </form>
    </div>
</body>
</html>