<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scable=no, maximum-scale=1.0, minimum-scale=1.0 initial-scale=1.0">
    <title>Community Blog</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/styles/notes.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navbar.css">
</head>
<header>
    <h1>YOUR<span>H1</span></h1>
    <nav>
        <ul>
            <li><a href="/notes">Home</a></li>
            <li><a href="/notes/new">New Post</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="blog-post">
        <div class="blog-post__img">
            <img src="{{ note[1].image_address}}" alt="">
        </div>
        <div class="blog-post__info">
            <div class="blog-post__date">
                <span>{{note[1].time.strftime("%d.%m.%Y")}}</span>
                <span>{{note[1].author}}</span>
            </div>
            <h1 class="blog-post__title">{{note[1].title}}</h1>
            <p class="blog-post__text">
                {{note[1].text}}
            </p>
            <a href="#" class="blog-post__cta">Edit Post</a>
        </div>
    </div>
</body>
</html>