<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scable=no, maximum-scale=1.0, minimum-scale=1.0 initial-scale=1.0">
    <title>Community Blog</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/styles/notes.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navbar.css">
</head>
<header>
    <h1>WEB <span>BLOG</span></h1>
    <nav>
        <ul>
            <li><a href="/notes">Home</a></li>
            <li><a href="/notes/new">New Post</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="blog-post">
        <div class="blog-post-img">
            <img src="{{note[1].image_address}}" alt="">
        </div>
        <div class="blog-post-info">
            <div class="blog-post-title">
                <h2>{{note[1].title}}</h2>
            </div>
            <div class="blog-post-date-and-author-name">
                <span>{{note[1].author}}</span>
                <span>{{note[1].time.strftime("%d.%m.%Y")}}</span>
            </div>
            <div class="blog-post-desc">
                <p>{{note[1].text}}</p>
            </div>
            <div class="blog-post-read-more">
                <a href="/note/{{note[0]['id']}}/edit">Edit</a>
                <a href="/note/{{note[0]['id']}}/delete">Delete</a>
            </div>
        </div>
    </div>
</body>
</html>