<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Blog</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/notes.css')}}">
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
    </script>
</head>
<body>
    <div>
        <header>
            <h1>WEB <span>BLOG</span></h1>
            <nav>
                <ul>
                    <li><a href="/notes">Home</a></li>
                    <li><a href="/notes/new">New Post</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div>
        {% for i in range(0, records|length) %}
        <div data-id="{{i}}" class="blog-post">
            <div class="blog-post-img">
                <img src="{{records[i][1].image_address}}" alt="">
            </div>
            <div class="blog-post-info">
                <div class="blog-post-title">
                    <h2>{{records[i][1].title}}</h2>
                </div>
                <div class="blog-post-date-and-author-name">
                    <span>{{records[i][1].author}}</span>
                    <span>{{records[i][1].time.strftime("%d.%m.%Y")}}</span>
                </div>
                <div class="blog-post-desc">
                    <p>{{records[i][1].text}}</p>
                </div>
                <div class="blog-post-read-more">
                    <a href="/note/{{records[i][0]['id']-1}}">Read More</a>
                </div>
                <div>
                    <p class="rating">{{records[i][1].rating}}</p>
                </div>
                <div>
                    <button onclick="Change_Rating({{i}}, 1)">Increase rating</button>
                    <button onclick="Change_Rating({{i}}, -1)">Decrease rating</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        Change_Rating = function(note_id, value){
            $.post("/change_rating/" + note_id + "?value=" + value, function(response){
                $("div[data-id='"+response.id+"'] p.rating").text(response.rating);
            });
        }
    </script>

</body>
</html>

