body{
    margin: 0;
    padding: 0;
    background: url(../images/shark.jpg);
    background-size: cover;
}

.post-form{
    width: 85%;
    max-width: 600px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Monterrat", sans-serif;
}

.post-form h1{
    margin-top: 0;
    font-weight: 200; 
}

.txtb{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}

.txtb input, textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}

.btn{
    display: inline-block;
    background: rgba(79, 172, 254, .8);
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    font-style: unset;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}